<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajaxDemo</title>
    <script src="WEB-INF/static/jquery/jquery-3.3.1.min.js"/>
</head>
<body>
<script>
    function sendDynamicpwd() {
        // $("#verifactionCode_validate_message").text("");
        if (validateMsisdn()) {
            var msisdn = $("#resetPwdMsisdn").val();
            $.ajax({
                url: "$!basePath/findPwd/sendDynamicpwd",
                type: "post",
                dataType: "text",
                data: {
                    msisdn: msisdn
                },
                success: function (data) {
                    $("#sendDynamicpwd_btn").removeClass("normal");
                    $("#sendDynamicpwd_btn").addClass("not");
                    $("#sendDynamicpwd_btn").attr("onclick", "");
                    verifyInterval = setInterval(verifyBtnStateChange, 1000);
                },
                error: function (data) {
                    // $("#verifactionCode_validate_message").text(data.responseText);
                    alert(data.responseText);
                }
            });
        }
    };

    $(function () {
        $.ajax({
            url: "http://${host}${ctx}/chart/chart/api/charts/97087aa86782f34101678657e47a0188",
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    console.log(data)
                } else {
                    console.log("加载错误")
                }
            }
        });
    });
</script>
</body>
</html>